@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    font-family: 'Bebas Neue', sans-serif !important;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 24px; 
    color: rgb(200, 187, 253);
}

.h4{
        font-size: 25px  !important; 
    }


.container{
 background-color: rgb(238, 249, 255)!important;   
}
.container2{
    background-color:rgb(224, 224, 224)!important;
   }
.h3{
    font-size: 12px !important ;
}
.color3{
    color: rgb(200, 187, 253);
}